@font-face {
  font-family: "Source Sans 3 VF";
  font-weight: 200 900;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  src: url("/fonts/SourceSans3VF-Roman.ttf.woff2") format("woff2");
}

html {
  --color-bg: #fcf8f4;
  --color-text: #181818;
  --color-secondary-dark: #212529;
  --color-card: #ffffff;
  --color-white: #ffffff;
  --color-dark: #212121;
  --color-btn: #212529;
  --color-btn-text: #ffffff;
  --color-border: #eaeaea;
  --color-label: #eaeaea;
  --color-nav-bg: #fcf8f4;
}

html.dark {
  --color-bg: #121212;
  --color-text: #ffffff;
  --color-card: #212529;
  --color-btn: #ffffff;
  --color-border: #242424;
  --color-btn-text: #181818;
  --color-label: #181818;
  --color-nav-bg: #181818;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body,
#__next {
  height: 100%;
}

body {
  font-family: "Source Sans 3 VF", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: 1.6;
  overflow-x: hidden;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*Content*/
.content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/*Navigation*/
.navigation {
  background-color: var(--color-bg);
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: rgb(0 0 0 / 5%) 0px 2px 9px;
  z-index: 10;
}

.navigation__logo {
  font-size: 4rem;
  font-weight: 700;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.navigation > a {
  text-decoration: none;
}

.navigation__login,
.navigation__signup {
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  background-color: var(--color-primary-dark);
  background-color: var(--color-btn);
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.navigation__signup {
  margin-left: 2rem;
  color: var(--color-white);
}

.navigation__login {
  background-color: transparent;
  color: var(--color-text);
}

.navigation__login,
.btn-video {
  opacity: 0.7;
  transition: opacity 0.2s;
}

.navigation__login:hover,
.btn-video:hover {
  opacity: 1;
}

.navigation__dark-reader,
.navigation__delete,
.navigation__add {
  color: inherit;
}

.navigation__dark-reader,
.navigation__delete {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/*DROP DOWN MENU*/
.dropdown {
  position: relative;
}

.dropdown__header {
  width: 4rem;
  height: 4rem;
  display: flex;
}

.dropdown__header-img {
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.dropdown__list {
  background-color: var(--color-card);
  padding: 1rem 2rem;
  position: absolute;
  top: 6.5rem;
  right: 0;
  display: none;
  border: 1px solid var(--color-btn);
  border-radius: 4px;
  box-shadow: 4px 4px 0 var(--color-btn);
}

.dropdown__list.active {
  display: block;
}

.dropdown__item {
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
  color: var(--color-text);
}

.dropdown__item:hover {
  background-color: var(--color-text);
  color: var(--color-card);
}

.dropdown__link {
  text-decoration: none;
  font-size: 1.9rem;
  font-weight: 600;
  color: inherit;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.dropdown__link-text {
  margin-left: 1rem;
}

/*Account*/
.account {
  flex: 1;
  /* background-color: skyblue; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10rem;
}

.account__heading {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.account__details {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}

.account__details-avatar {
  border-radius: 50%;
}

.account__details-username {
  font-size: 2rem;
  font-weight: 500;
}

.account__delete-btn {
  padding: 1.5rem 5rem;
  background-color: var(--color-btn);
  color: var(--color-btn-text);
  border: none;
  border-radius: 5px;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
}

/*Home*/
.header {
  flex: 1;
  /* background-color: skyblue; */
  display: flex;
  padding: 3rem;
  line-height: 1.4;
}

.header__text-box {
  flex: 1;
  /* background-color: skyblue; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  padding-left: 7rem;
}

.header__img {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: pink; */
}

.heading-primary {
  /* text-align: center; */
  margin-bottom: 5rem;
}

.heading-primary--main {
  font-size: 3.2rem;
  display: inline-block;
  margin-bottom: 1.5rem;
  font-weight: 600;
  color: rgba(24, 24, 24, 0.6);
}

.heading-primary--sub {
  display: block;
  font-size: 5rem;
}

.header__btns {
  /* background-color: pink; */
  width: 90%;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.btn-main,
.btn-video {
  flex: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 1.5rem 0rem;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  /* border: 2px solid #fff; */
  transition: all 0.2s;
  letter-spacing: 0.5px;
}

.btn-main {
  text-decoration: none;
  background-color: var(--color-btn);
  color: var(--color-white);
}

.btn-video {
  margin-left: 4rem;
  background-color: transparent;
}

.maker {
  font-size: 2rem;
  font-weight: 400;
}

.maker__connect {
  color: var(--color-text);
  font-weight: 600;
}

/*SideNav*/
.sidenav {
  background-color: var(--color-nav-bg);
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 4px solid var(--color-card);
  overflow: auto;
  white-space: nowrap;
  z-index: 10;
}

.sidenav__list {
  height: 100%;
}

.sidenav__item {
  width: 16.66%;
  /* text-align: center; */
  margin-top: 0.5rem;
  padding: 0.8rem 3rem;
  display: inline-block;
}

.sidenav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: skyblue; */
  text-decoration: none;
  color: inherit;
  font-size: 1.9rem;
  font-weight: 600;
  opacity: 0.4;
}

.sidenav__link.active {
  opacity: 1;
}

/*Add*/
.add {
  width: 40%;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  margin: 0 auto;
}

.add__heading {
  align-self: flex-start;
  font-size: 3rem;
  margin-bottom: 4rem;
}

.add__form {
  /* background-color: skyblue; */
  width: 100%;
}

.add__label {
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
}

.add__input,
.add__select {
  width: 100%;
  color: var(--color-text);
  display: block;
  margin-bottom: 3rem;
  font-size: 2rem;
  padding: 2rem;
  border: 2px solid var(--color-border);
  border-radius: 5px;
  outline: none;
  /* background-color: transparent; */
  background-color: var(--color-card);
  transition: all 0.2s;
}

.add__input:focus,
.add__select:focus {
  border-color: var(--color-btn);
}

.add__select {
  -webkit-appearance: none;
  appearance: none;
  background: url("./../public/img/chevron-down.svg") no-repeat right
    var(--color-card);
  background-position-x: calc(100% - 15px);
}

.add__btn {
  width: 100%;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.5rem 0;
  background-color: var(--color-btn);
  color: var(--color-btn-text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add__feed {
  background-color: var(--color-card);
  border: 2px solid var(--color-border);
  padding: 1.5rem 3rem;
  border-radius: 5px;
  word-break: break-all;
}

.add__feed-icon {
  border-radius: 100%;
  margin-bottom: 1rem;
}

.add__feed-image {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  /* flex: 1; */
  background-color: var(--color-text);
  color: var(--color-card);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 700;
}

/*Image Placeholder*/
.add__default-img {
  width: 25px;
  height: 25px;
  margin-bottom: 1rem;
}

.category__default-img {
  /*TODO:*/
  min-width: 30px;
  min-height: 30px;
}

.add__feed-title {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.add__feed-url {
  font-size: 2rem;
  margin-bottom: 3rem;
}

/*Category*/
.category-feed {
  /* background-color: pink; */
  width: 50%;
  margin: 0 auto 10rem;
  padding: 3rem 2rem;
}

.category__empty {
  flex: 1;
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  padding: 0 2rem;
  text-align: center;
  margin-bottom: 10rem;
}

.category__empty-heading {
  font-size: 3rem;
  margin-bottom: 2.5rem;
  opacity: 0.5;
}

.category__empty-text {
  font-size: 2.5rem;
  opacity: 0.5;
  margin-bottom: 2rem;
}

.category__empty-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: var(--color-btn);
  color: var(--color-btn-text);
  font-size: 2rem;
  padding: 1.2rem 3rem;
  border-radius: 5px;
}

.category-feed__item {
  display: flex;
  align-items: center;
  background-color: var(--color-card);
  margin-bottom: 3rem;
  border-radius: 8px;
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  font-size: 2.2rem;
}

.category-feed__item-link {
  flex: 1;
  /* background-color: pink; */
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 3rem 2rem;
  color: inherit;
}

.category-feed__image {
  border-radius: 100%;
}

.category__feed-icon {
  /* flex: 1; */
  /* background-color: skyblue; */
  cursor: pointer;
  padding: 1rem 2rem;
}

.trash-icon,
.icon-chevron {
  /* width: 100%; */
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: inherit;
  /* padding: 1rem 2rem; */
}

/*List*/
.add,
.category-feed {
  margin-bottom: 10rem;
}

.list {
  width: 50%;
  margin: 0 auto 10rem;
  /* background-color: pink; */
  padding: 3rem 2rem;
  line-height: 1.6;
}

.list__heading {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

.list__item {
  /* width: 100%; */
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  background-color: var(--color-card);
  text-decoration: none;
  color: inherit;
  padding: 2rem;
  /* border: 20px solid #fff; */
  margin-bottom: 3rem;
  border-radius: 8px;
  font-weight: 600;
  /* background-color: pink; */
}

.list__item-external {
  padding: 0 2rem;
}

.list__item-image {
  border-radius: 8px;
  margin-top: 2rem;
}

.list__item-header {
  width: 100%;
  display: flex;
  align-items: center;
  /* background-color: skyblue; */
}

.list__item-main {
  /* background-color: pink; */
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* .list__item-main.yt {
  align-items: center;
} */

.list__item-title {
  /* background-color: pink; */
  font-size: 2.3rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.list__item-content {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
  font-size: 2rem;
  opacity: 0.6;
  margin-bottom: 2rem;
  word-break: break-word;
}

.list__item-info {
  /* background-color: pink; */
  display: flex;
}

.list__item-date,
.list__twitter-date,
.list__item-play {
  /* align-self: flex-start; */
  font-weight: 600;
  font-size: 1.9rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  background-color: var(--color-label);
  /* border-color: transparent; */
}

.list__item-date {
  margin-right: 2rem;
}

.list__twitter-date {
  align-self: flex-start;
}

.list__item-play {
  border: none;
  display: inline-flex;
  align-items: center;
  /* justify-content: center; */
  background-color: var(--color-btn);
  color: var(--color-btn-text);
  text-decoration: none;
  cursor: pointer;
}

/* .list__item-ytlink {
  margin-left: 2rem;
  text-decoration: none;
} */

.list__podcast {
  /* background-color: pink; */
  background-color: var(--color-btn);
  color: var(--color-btn-text);
  margin-top: 2.5rem;
  padding: 3rem;
  border-radius: 5px;
  margin-bottom: 2.5rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  position: sticky;
  top: 78px;
  z-index: 2;
}

.list__podcast-heading {
  /* background-color: pink; */
  font-size: 4rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.list__podcast-title {
  /* background-color: skyblue; */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 2.5rem;
  word-break: break-word;
}

.list__podcast > audio {
  background-color: lightgoldenrodyellow;
  width: 100%;
}

.list__link {
  background-color: var(--color-btn);
  text-decoration: none;
  color: var(--color-btn-text);
  font-size: 2.1rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  border-radius: 5px;
}

/*List Twitter*/
.list__twitter {
  text-decoration: none;
  color: inherit;
  /* font-weight: 600; */
  display: flex;
  flex-direction: column;
  background-color: var(--color-card);
  padding: 2rem;
  font-weight: 400;
  margin-bottom: 3rem;
  border-radius: 8px;
  /* border: 1px solid #181818; */
}

.list__twitter-date {
  margin-bottom: 3rem;
}

.list__twitter-text {
  font-size: 2.2rem;
}

.list__twitter-media {
  margin-top: 4rem;
  align-self: center;
  border-radius: 8px;
}

/*404*/

.error-page {
  flex: 1;
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

.error-page__text {
  font-weight: 600;
  text-align: center;
  margin-bottom: 4rem;
}

.error-page__text--main,
.error-page__text--sub {
  display: block;
}

.error-page__text--main {
  font-size: 2.8rem;
  margin-bottom: 2rem;
}

.error-page__text--sub {
  opacity: 0.6;
  font-size: 2rem;
}

.error-page__btn {
  text-decoration: none;
  background-color: var(--color-btn);
  color: var(--color-btn-text);
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 5px;
}

/*Hover*/
.icon-chevron {
  transition: all 0.2s;
}

@media (hover: hover) {
  .btn-main:hover > .icon-chevron,
  .category-feed__item:hover .icon-chevron {
    transform: translateX(10px);
  }
}

/*Utils*/
.u-mt1 {
  margin-top: 1rem;
}

.u-ml1 {
  margin-left: 1rem;
}

.u-ml1-5 {
  margin-left: 1.5rem;
}

.u-ml2 {
  margin-left: 2rem;
}

.u-ml3 {
  margin-left: 3rem;
}

.u-mr1 {
  margin-right: 1rem;
}

.u-mr2 {
  margin-right: 2rem;
}

.u-mr3 {
  margin-right: 3rem;
}

.u-mr4 {
  margin-right: 4rem;
}

/*Modal*/
.confirm__modal-heading {
  font-size: 2.8rem;
}

.confirm__modal-text {
  font-size: 2.1rem;
  margin-bottom: 3rem;
}

.confirm__modal-btn {
  border: none;
  padding: 1rem 2rem;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
}

.confirm__modal-btn:nth-of-type(1) {
  background-color: transparent;
  color: var(--color-white);
}

.confirm__modal-btn:nth-of-type(2) {
  background-color: #c61111;
  margin-left: 1.5rem;
  color: var(--color-white);
}

/*PF-Loader*/
.pf-loader {
  /* background-color: pink; */
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10rem;
}

.pf-loader__text {
  font-size: 5rem;
  font-weight: 700;
  animation: fadeInOut 1s cubic-bezier(0.645, 0.045, 0.355, 1) infinite
    alternate;
}

@keyframes fadeInOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*Spinners*/

.spinner {
  display: inline-block;
  border: 4px solid transparent;
  border-left-color: var(--color-btn-text);
  border-radius: 50%;
  width: 2.2rem;
  height: 2.2rem;
  animation: spin 0.5s linear infinite;
}

.spinner.nav {
  border-left-color: var(--color-primary);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

/* Custom Scroll Bar*/
::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d7d5d3;
  border-radius: 20px;
  border: 6px solid transparent;
  -webkit-background-clip: content-box;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #c4c2c1;
}

/*Media Queries*/
@media (max-width: 56.25em) {
  html {
    font-size: 58.25%;
  }

  .header__text-box {
    padding-left: 0;
  }

  .header__img {
    display: none;
  }

  .heading-primary {
    text-align: start;
  }

  .header__btns {
    width: 100%;
    flex-direction: column;
  }

  .btn-main {
    margin-bottom: 2rem;
  }

  .btn-video {
    margin-left: 0;
  }

  .maker {
    text-align: center;
  }

  .sidenav__item {
    width: auto;
    padding: 0.5rem 3rem;
  }

  .sidenav__link {
    font-size: 1.7rem;
  }

  .add,
  .category-feed,
  .list {
    width: 100%;
  }

  .list__podcast {
    top: -8rem;
  }

  .list__podcast-title {
    margin-bottom: 1.5rem;
  }

  .list__podcast-heading {
    /* display: none; */
    font-size: 3.5rem;
  }
}

/*iPad Port*/
@media only screen and (min-device-width: 48em) and (max-device-width: 64em) and (orientation: portrait) {
  html {
    font-size: 75%; /*1rem = 12px*/
  }

  .sidenav__item {
    width: 16.66%;
  }

  .list__podcast {
    top: 78px;
  }
}

/*iPad Pro Portrait */
@media only screen and (min-device-width: 64em) and (max-device-width: 85.375em) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  html {
    font-size: 75%; /*1rem = 12px*/
  }

  .header__img {
    display: none;
  }

  .header__text-box {
    text-align: center;
    align-items: center;
    padding-left: 0;
  }

  .header__btns {
    width: 60%;
    display: flex;
    justify-content: center;
  }

  .add,
  .category-feed,
  .list {
    width: 100%;
  }
}

/* iPad Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  html {
    font-size: 75%; /*1rem = 12px*/
  }

  .header__img {
    display: none;
  }

  .header__text-box {
    text-align: center;
    align-items: center;
    padding-left: 0;
  }

  .header__btns {
    width: 60%;
    display: flex;
    justify-content: center;
  }

  .add,
  .category-feed,
  .list {
    width: 80%;
  }
}

/*Small Sized Phones*/
@media (max-width: 20em) {
  html {
    font-size: 48%;
  }

  .list__podcast {
    top: -6rem;
  }
}

/*Big Desktop*/
@media (min-width: 112.5em) {
  html {
    font-size: 87.5%; /*1rem = 14px*/
  }
}
